# pip install -r requirements.txt
ipython

beautifulsoup4  # beautifulsoup
lxml  # for beautifulsoup: improved performance & parsing capability

SQLAlchemy

Twisted

MarkupSafe  # autoescaping for jinja
Jinja2  # jinja templates

pep8  # coding style check
