# pip install -r requirements_pre.txt && pip install -r requirements.txt

lxml  # for beautifulsoup: improved performance & parsing capability
beautifulsoup4  # beautifulsoup

SQLAlchemy  # disable: does not play super well with Twisted

MarkupSafe  # autoescaping for jinja
Jinja2  # jinja templates

chardet  # used by requests to detect encoding
gevent
grequests  # requests over gevent
requests  # http requests library

# graph stuff:
# networkx (python lib, in memory)
# dbs:
# neo4j (on disk)
# flockdb (horizontal scaling, data in mysql)

Flask
Flask-SQLAlchemy
