<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <a class="brand" href="#">{{ title }}</a>
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        {#
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                        #}
                    </ul>
                </div>
            </div>

            <div class="hero-unit">
                <h1>{{ msg }}</h1>
            </div>

            {% for file, progress in files.items() %}
            <div id="file_{{ file }}" class="row">
                <div class="span4">
                    {{ file }}
                </div>
                <div class="span8">
                    <div class="progress">
                        <div id="progress_{{ file }}" class="bar" style="width: {{ progress }}%;"></div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

        <script src="/static/vendor/jquery/jquery-latest.js"></script>
        <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script>
            // polling, ref: http://stackoverflow.com/questions/333664/simple-long-polling-example-code
            (function poll(){
                var call_interval = 250;
                $.ajax({
                    url: "/_json",
                    dataType: "json",
                    timeout: 300,

                    success: function(data){
                        $.each(data.files, function(file, progress) {
                            $('#progress_' + file).css('width', progress+'%');
                        });
                        setTimeout(poll, call_interval);
                    },
                    error: function(){
                        setTimeout(poll, call_interval);
                    }
                });
            })();
        </script>
    </body>
</html>
